@model IEnumerable<GarageCooperative.Models.Row>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RowNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxGarageCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperative)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RowNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxGarageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cooperative.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RowId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RowId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
