@model IEnumerable<GarageCooperative.Models.Row>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="form-group">
    <a class="btn btn-primary" asp-action="Request" asp-route-request="Select Cooperatives.Name as 'Cooperative name', Rows.RowNumber, AVG(Cast(Garages.GarageSpace as Float)) as 'average space of ​​garages in this row' from Rows
left join Cooperatives on Cooperatives.CooperativeId = Rows.CooperativeId
left join Garages on Garages.RowId = Rows.RowId
group by Rows.RowNumber, Cooperatives.Name
order by Cooperatives.Name" asp-controller="Home">Запит на отримання рядів, де буде виведено назву кооперативу, номер ряду та середню площу гаражу у ряді</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RowNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxGarageCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperative)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RowNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxGarageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cooperative.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RowId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RowId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
