@model GarageCooperative.Models.Membership

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Membership</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garage.GarageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MembershipId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
