@model IEnumerable<GarageCooperative.Models.Membership>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Garage number</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.GarageNumber" name="garageNumber" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">User name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.UserName" name="userName" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">User phone</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.UserPhone" name="userPhone" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Own start from</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.OwnStartFrom.ToString("yyyy-MM-dd")" name="ownStartFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Own start to</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.OwnStartTo.ToString("yyyy-MM-dd")" name="ownStartTo" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Sorting</span>
        </div>
        <select class="custom-select" name="sort" id="inputGroupSelect01" asp-items="@ViewBag.Sort"></select>
    </div>

    <div class="input-group mb-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Garage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                User phone
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Garage.Number) (Row: @item.Garage.Row.RowNumber - @item.Garage.Row.Cooperative.Name)
            </td>
            <td>
                @item.User.Surname @item.User.Name @item.User.Lastname
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MembershipId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MembershipId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MembershipId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
