@model GarageCooperative.Models.Garage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Garage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GarageSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GarageSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarsCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarsCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Row)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Row.RowId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GarageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
