@model IEnumerable<GarageCooperative.Models.Garage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Garage number</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.GarageNumber" name="garageNumber" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Row number</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.RowNumber" name="rowNumber" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Type</span>
        </div>
        <select name="typeId" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" asp-items="ViewBag.TypeId"></select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Garage space from</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.GarageSpaceFrom" name="garageSpaceFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Garage space to</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.GarageSpaceTo" name="garageSpaceTo" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Sorting</span>
        </div>
        <select class="custom-select" name="sort" id="inputGroupSelect01" asp-items="@ViewBag.Sort"></select>
    </div>

    <div class="input-group mb-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="form-group">
    <a class="btn btn-primary" asp-action="Request" asp-route-request="Select Garages.Number as 'Garage number', Rows.RowNumber, COUNT(Memberships.MembershipId) as 'Count of memberships', Cooperatives.Name as 'Cooperative name' from Garages
left join Rows on Rows.RowId = Garages.RowId
left join Memberships on Memberships.GarageId = Garages.GarageId
left join Cooperatives on Cooperatives.CooperativeId = Rows.CooperativeId
group by Garages.Number, Rows.RowNumber, Cooperatives.Name" asp-controller="Home">Запит на отримання гаражів (номеру гаражу, номер ряду, кілкьість власникиків, що були у даного гаража, назва кооперативу)</a>
</div>

<div class="form-group">
    <a class="btn btn-primary" asp-action="Request" asp-route-request="Select gar.Number as 'Garage number', RowNumber, Sum(Payment) as 'Money paid', COUNT(Payment) as 'Count of paid' from Garages as gar
left join Fees on Fees.GarageId = gar.GarageId
left join Rows on Rows.RowId = gar.RowId
left join Cooperatives on Cooperatives.CooperativeId = Rows.CooperativeId
group by gar.Number, RowNumber, Cooperatives.Name, gar.GarageId" asp-controller="Home">Запит на отримання гаражів (номеру гаражу, номер ряду, сума оплачена за весь час за цей гараж та кількість оплат за гараж)</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarageSpace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarsCapacity)
            </th>
            <th>
                Row number
            </th>
            <th>
                Cooperative Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarageSpace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarsCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Row.RowNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Row.Cooperative.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GarageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GarageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GarageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
